@model SysInventarioFacturacionAgro.EntidadesDeNegocio.DetallesFactura

@{
    ViewData["Title"] = "Create";
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Factura> facturas = ViewBag.Facturas as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Factura>;
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto> productos = ViewBag.Producto as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Producto>;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Agregar Detalles de Factura</h1>
    </div>
    <div class="card-body">
        <div class="row ml-4">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Código de Detalles</label>
                                <input asp-for="CodigoDetalles" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Cantidad</label>
                                <input asp-for="Cantidad" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Total $</label>
                                <input asp-for="Total" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Factura</label>
                                <select asp-for="IdFactura" class="form-control">
                                    <option selected value="">SELECCIONAR</option>
                                    @foreach (var factura in facturas)
                                    {
                                        <option value="@factura.IdFactura">@factura.NombreCliente</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Producto</label>
                                <select asp-for="IdProducto" class="form-control">
                                    <option selected value="">SELECCIONAR</option>
                                    @foreach (var producto in productos)
                                    {
                                        <option value="@producto.IdProducto">@producto.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save"></i> Guardar
                        </button>
                        <a class="btn btn-secondary" asp-action="Index">
                            <i class="fas fa-arrow-left"></i> Volver a la Lista
                        </a>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
