@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="action-card">
        <img src="~/IMG/Usuario-removebg-preview.png" alt="Descripción de la imagen">
        <a asp-area="" asp-controller="Usuario" asp-action="Create">Agregar Usuario</a>
    </div>
    <div class="action-card">
        <img src="~/IMG/ZapatoIcon-removebg-preview.png" alt="Descripción de la imagen">
        <a asp-area="" asp-controller="Producto" asp-action="Create">Agregar Producto</a>
    </div>
    <div class="action-card">
        <img src="~/IMG/Carritocompra-removebg-preview.png" alt="Descripción de la imagen">
        <a asp-area="" asp-controller="DetalleFactura" class="action-card-button" asp-action="Venta">Crear Venta</a>
    </div>
    <div class="action-card">
        <img src="~/IMG/LOS_REPORTES-removebg-preview.png" alt="Descripción de la imagen">
        <a asp-area="" asp-controller="DetalleFactura" asp-action="Reportes">Ver Reportes</a>
    </div>
</div>
<div class="row">

    <div class="carousel-container">
        <!-- Carrusel 1 -->
        <div class="carousel">
            <div class="slides">
                <img src="https://i.pinimg.com/564x/21/08/c7/2108c7a95bdcd52611b7577fcced6fd2.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/0d/e4/eb/0de4eb8418d8dc6839f5b9c4b9be2545.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/16/1c/03/161c03335947bcc4e5df7b5995d7eea9.jpg" alt="Slide A" class="slide">
            </div>
            <div class="controls">
                <div class="control prev-slide">&#9668;</div>
                <div class="control next-slide">&#9658;</div>
            </div>
        </div>
    </div>

    <div class="carousel-container">
        <!-- Carrusel 2 -->
        <div class="carousel">
            <div class="slides">
                <img src="https://i.pinimg.com/564x/8d/c3/bd/8dc3bd131684479d7f7eabcaef2a2953.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/87/c6/92/87c69225f953289e5aa44e87d2f2ede4.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/5b/73/c5/5b73c5a26b4a88eccdfaac036486d827.jpg" alt="Slide A" class="slide">
            </div>
            <div class="controls">
                <div class="control prev-slide">&#9668;</div>
                <div class="control next-slide">&#9658;</div>
            </div>
        </div>
    </div>

    <div class="carousel-container">
        <!-- Carrusel 3 -->
        <div class="carousel">
            <div class="slides">
                <img src="https://i.pinimg.com/564x/08/cc/1d/08cc1d19e601d13fcc08f07894adf1e0.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/43/f3/95/43f3955be8d2e02ecfbf301f45e58c98.jpg" alt="Slide A" class="slide">
                <img src="https://i.pinimg.com/564x/6d/d3/71/6dd371df5e7cd7299409b1529f81feee.jpg" alt="Slide A" class="slide">
            </div>
            <div class="controls">
                <div class="control prev-slide">&#9668;</div>
                <div class="control next-slide">&#9658;</div>
            </div>
        </div>
    </div>

    <!--Tarjetas-->
</div>

<div>

    <div class="sneaker-card">
                    <img class="sneaker-profile-pic" src="https://images.unsplash.com/photo-1608667508764-33cf0726b13a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c25lYWtlcnN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" />
        <h2 >
            Nike
        </h2>

    </div>

    <div class="sneaker-card">
        <img class="sneaker-profile-pic" src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
        <h2>Nike</h2>
    </div>

    <div class="sneaker-card">
        <img class="sneaker-profile-pic" src="https://images.unsplash.com/photo-1606107557195-0e29a4b5b4aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
        <h2>Nike</h2>
    </div>

    <div class="sneaker-card">
        <img class="sneaker-profile-pic" src="https://images.unsplash.com/photo-1586525198428-225f6f12cff5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" />
        <h2>Nike</h2>
    </div>

    <div class="sneaker-card">
        <img class="sneaker-profile-pic" src="https://i.pinimg.com/564x/5f/09/39/5f0939e1b062380bd338a344a9f8a4ea.jpg" />
        <h2>Puma</h2>
    </div>

    <div class="sneaker-card">
        <img class="sneaker-profile-pic" src="https://i.pinimg.com/564x/57/be/ca/57beca4106ed0ccc591c7c405d22996d.jpg" />
        <h2>Nike</h2>
    </div>


</div>







