@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario

@{
    ViewData["Title"] = "CambiarPassword";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Cambiar Contraseña</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CambiarPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Login" class="control-label">Usuario</label>
                        <input asp-for="Login" class="form-control" disabled />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Contraseña Actual</label>
                        <input type="password" name="pPasswordAnt" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Contraseña Nueva</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword_aux" class="control-label">Confirmar Contraseña Nueva</label>
                        <input asp-for="ConfirmPassword_aux" class="form-control" />
                        <span asp-validation-for="ConfirmPassword_aux" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                            <i class="fas fa-save"></i> Cambiar Contraseña
                        </button>
                        <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                            <i class="fas fa-times"></i> Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name]").trigger("blur");
        });
    </script>
}