@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Ver Usuario</h1>
    </div>
    <div class="card-body">
        <form asp-action="Edit" class="container">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />

            <dl class="row">
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" readonly />
                    </div>
                </dt>
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label">Apellido</label>
                        <input asp-for="Apellido" class="form-control" readonly />
                    </div>
                </dt>
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Login" class="control-label">Login</label>
                        <input asp-for="Login" class="form-control" readonly />
                    </div>
                </dt>
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="IdRol" class="control-label">Rol</label>
                        <input asp-for="Rol.Nombre" class="form-control" readonly />
                    </div>
                </dt>
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Estatus" class="control-label">Estatus</label>
                        <input asp-for="Estatus" class="form-control" readonly />
                    </div>
                </dt>
                <dt class="col-md-4">
                    <div class="form-group">
                        <label asp-for="FechaRegistro" class="control-label">Fecha de Registro</label>
                        <input asp-for="FechaRegistro" class="form-control" readonly />
                    </div>
                </dt>
            </dl>

            <!-- Botones -->
            <div class="form-group" style="margin-top: 10px;">
                <a class="btn btn-success" href="@Url.Action("Edit", new { id = Model.Id })" style="margin-right: 10px;">
                    <i class="fas fa-pencil-alt"></i> Editar
                </a>
                <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                    <i class="fas fa-times"></i> Regresar
                </button>
            </div>
        </form>
    </div>
</div>
