@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />

    <style>
        /* Add your custom styles here */
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Iniciar Sesión</h3>
                            <div style="text-align:center">
                                <img class="img-fluid" src="https://i.imgur.com/9RJLomZ.png" />
                            </div>
                        </div>
                        <div class="card-body">
                            <form asp-action="Login" method="post">


                                <div class="mb-3">
                                    <label asp-for="Login" class="small mb-1" style="font-weight: bold; color: #555;">Usuario</label>
                                    <input asp-for="Login" class="form-control" placeholder="Ingrese el usuario" />
                                    <span asp-validation-for="Login" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <label asp-for="Password" class="small mb-1" style="font-weight: bold; color: #555;">Contraseña</label>
                                    <div class="input-group">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Ingresar contraseña" />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-success" onmousedown="showPassword()" onmouseup="hidePassword()" onmouseout="hidePassword()">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <input type="submit" value="E N T R A R" class="btn btn-success btn-block" />
                                </div>
                            </form>
                        </div>

                        <div class="card-footer text-center py-3">
                            <div class="small" style="font-style: italic; color: #555;">© 2024 La Bendición del Agricultor</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Bootstrap JS and Font Awesome JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        var passwordInput = document.getElementById("Password");
        var buttonIcon = document.querySelector(".input-group-append i");
        var isMouseDown = false;

        function showPassword() {
            passwordInput.type = "text";
            buttonIcon.classList.remove("fa-eye");
            buttonIcon.classList.add("fa-eye-slash");
            isMouseDown = true;
        }

        function hidePassword() {
            if (!isMouseDown) {
                return;
            }

            passwordInput.type = "password";
            buttonIcon.classList.remove("fa-eye-slash");
            buttonIcon.classList.add("fa-eye");
            isMouseDown = false;
        }
    </script>
</body>
</html>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
