/* Estilos CSS para la tabla compacta */
.table {
    font-size: 14px; /* Tamaño de fuente más pequeño */
}

th, td {
    padding: 5px 8px; /* Espaciado reducido en celdas */
}

tr {
    margin-bottom: 5px; /* Elimina el margen inferior de las filas */
}

.descripcion {
    max-height: 60px; /* Establece una altura máxima */
    overflow: hidden;
}

.show-more-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}
