@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Marca

@{
    ViewData["Title"] = "Delete";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Eliminar Marca</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Delete">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" disabled />
                    </div>
                </form>
            </div>
        </div>



        @* FUNCTION ELIMINAR CATEGORIA*@
        @using (Html.BeginForm("Delete", "Marca", new { IdMarca = Model.IdMarca }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar?');" style="margin-left: 10px;">
                <i class="fas fa-trash"></i> Eliminar
            </button>

            <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                <i class="fas fa-times"></i> Cancelar
            </button>
        }

    </div>
</div>