@model SysInventarioFacturacionAgro.EntidadesDeNegocio.Reporte

@{
    ViewData["Title"] = "Create";
    List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario> usuarios = ViewBag.Usuarios as List<SysInventarioFacturacionAgro.EntidadesDeNegocio.Usuario>;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary" style="font-size: 1.5rem;">Crear Factura</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="TipoReporte" class="control-label">Tipo de Reporte</label>
                            <input asp-for="TipoReporte" class="form-control" />
                            <span asp-validation-for="TipoReporte" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="FechaReporte" class="control-label">Fecha de Reporte</label>
                            <input asp-for="FechaReporte" type="date" class="form-control" />
                            <span asp-validation-for="FechaReporte" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="Detalles" class="control-label">Detalles de Reporte</label>
                            <input asp-for="Detalles" class="form-control" />
                            <span asp-validation-for="Detalles" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label asp-for="IdUsuario" class="control-label">Usuario</label>
                        <select asp-for="IdUsuario" class="form-control">
                            <option selected value="">SELECCIONAR</option>
                            @foreach (var item in usuarios)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        </select>
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>


                    <div class="form-group" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-success" style="margin-right: 10px;">
                            <i class="fas fa-save"></i> Guardar
                        </button>

                        <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index")'" style="margin-left: 10px;">
                            <i class="fas fa-times"></i> Cancelar
                        </button>
                    </div>

                    <span class="text-danger">@ViewBag.Error</span>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
